.box {
  display: block;
  margin: 0 auto;
  padding: 16px 31px;
  min-width: 169px;

  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background: #292fa1;
}
